In [1]:
# Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import citipy

In [2]:
# Create a set of random latitude and longitude combinations.
lats = np.random.uniform(low=-90.000, high=90.000, size=1500)
lngs = np.random.uniform(low=-180.000, high=180.000, size=1500)
lat_lngs = zip(lats, lngs)
lat_lngs

In [3]:
# Add the latitudes and longitudes to a list.
coordinates = list(lat_lngs)

In [4]:
from citipy import citipy

In [5]:
# Create a list for holding the cities.
cities = []
# Identify the nearest city for each latitude and longitude combination.
for coordinate in coordinates:
    city = citipy.nearest_city(coordinate[0], coordinate[1]).city_name

    # If the city is unique, then we will add it to the cities list.
    if city not in cities:
        cities.append(city)
# Print the city count to confirm sufficient count.
len(cities)

605

In [ ]:
# Import our dependencies and initialize counters and an empty list that will hold the weather data.
# Loop through the cities list.
# Group the cities in sets of 50 to log the process as we find the weather data for each city.
# Two counters will be needed here: one to log the city count from 1 to 50, and another for the sets.
# Build the city_url or endpoint for each city.
# Log the URL and the record and set numbers.
# Make an API request for each city.
# Parse the JSON weather data for the following:
# City, country, and date
# Latitude and longitude
# Maximum temperature
# Humidity
# Cloudiness
# Wind speed
# Add the data to a list in a dictionary format and then convert the list to a DataFrame.

In [6]:
# Import the requests library.
import requests

# Import the API key.
from config import weather_api_key

In [7]:
# Starting URL for Weather Map API Call.
url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + weather_api_key
print(url)

http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=0d505f23e7b96bc2e3d68fe1051331f1

In [8]:
# Import the time library and the datetime module from the datetime library 
import time
from datetime import datetime

In [9]:
# Create an empty list to hold the weather data.
city_data = []
# Print the beginning of the logging.
print("Beginning Data Retrieval     ")
print("-----------------------------")

# Create counters.
record_count = 1
set_count = 1

Beginning Data Retrieval
-----------------------------

In [11]:
# Loop through all the cities in the list.
for i, city in enumerate(cities):

    # Group cities in sets of 50 for logging purposes.
    if (i % 50 == 0 and i >= 50):
        set_count += 1
        record_count = 1
        time.sleep(60)

    # Create endpoint URL with each city.
    city_url = url + "&q=" + city.replace(" ","+")

    # Log the URL, record, and set numbers and the city.
    print(f"Processing Record {record_count} of Set {set_count} | {city}")
    # Add 1 to the record count.
    record_count += 1
    # Run an API request for each of the cities.
    try:
        # Parse the JSON and retrieve data.
        city_weather = requests.get(city_url).json()
        # Parse out the needed data.
        city_lat = city_weather["coord"]["lat"]
        city_lng = city_weather["coord"]["lon"]
        city_max_temp = city_weather["main"]["temp_max"]
        city_humidity = city_weather["main"]["humidity"]
        city_clouds = city_weather["clouds"]["all"]
        city_wind = city_weather["wind"]["speed"]
        city_country = city_weather["sys"]["country"]
        # Convert the date to ISO standard.
        city_date = datetime.utcfromtimestamp(city_weather["dt"]).strftime('%Y-%m-%d %H:%M:%S')
        # Append the city information into city_data list.
        city_data.append({"City": city.title(),
                          "Lat": city_lat,
                          "Lng": city_lng,
                          "Max Temp": city_max_temp,
                          "Humidity": city_humidity,
                          "Cloudiness": city_clouds,
                          "Wind Speed": city_wind,
                          "Country": city_country,
                          "Date": city_date})

# If an error is experienced, skip the city.
    except:
        print("City not found. Skipping...")
        pass

# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

Processing Record 1 of Set 1 | gat
Processing Record 2 of Set 1 | new norfolk
Processing Record 3 of Set 1 | ushuaia
Processing Record 4 of Set 1 | saint anthony
Processing Record 5 of Set 1 | pevek
Processing Record 6 of Set 1 | padang
Processing Record 7 of Set 1 | te anau
Processing Record 8 of Set 1 | meulaboh
Processing Record 9 of Set 1 | moranbah
Processing Record 10 of Set 1 | hithadhoo
Processing Record 11 of Set 1 | eureka
Processing Record 12 of Set 1 | hamilton
Processing Record 13 of Set 1 | jamestown
Processing Record 14 of Set 1 | puerto ayora
Processing Record 15 of Set 1 | busselton
Processing Record 16 of Set 1 | kolokani
Processing Record 17 of Set 1 | nokia
Processing Record 18 of Set 1 | port alfred
Processing Record 19 of Set 1 | bathsheba
Processing Record 20 of Set 1 | kaputa
Processing Record 21 of Set 1 | illoqqortoormiut
City not found. Skipping...
Processing Record 22 of Set 1 | sambalpur
Processing Record 23 of Set 1 | humaita
Processing Record 24 of Set 1 | vaini
Processing Record 25 of Set 1 | albany
Processing Record 26 of Set 1 | nabire
Processing Record 27 of Set 1 | wagar
Processing Record 28 of Set 1 | cidreira
Processing Record 29 of Set 1 | avarua
Processing Record 30 of Set 1 | kodiak
Processing Record 31 of Set 1 | barrow
Processing Record 32 of Set 1 | husavik
Processing Record 33 of Set 1 | bajil
Processing Record 34 of Set 1 | saint-joseph
Processing Record 35 of Set 1 | dikson
Processing Record 36 of Set 1 | fortuna
Processing Record 37 of Set 1 | mataura
Processing Record 38 of Set 1 | aksu
Processing Record 39 of Set 1 | desaguadero
Processing Record 40 of Set 1 | mahebourg
Processing Record 41 of Set 1 | bluff
Processing Record 42 of Set 1 | katsuura
Processing Record 43 of Set 1 | grand river south east
City not found. Skipping...
Processing Record 44 of Set 1 | qaanaaq
Processing Record 45 of Set 1 | la ronge
Processing Record 46 of Set 1 | hermanus
Processing Record 47 of Set 1 | touros
Processing Record 48 of Set 1 | mandalgovi
Processing Record 49 of Set 1 | esperance
Processing Record 50 of Set 1 | loreto

KeyboardInterrupt:

In [12]:
# Convert the array of dictionaries to a Pandas DataFrame.
city_data_df = pd.DataFrame(city_data)
city_data_df.head(10)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Gat,31.6100,34.7642,67.82,100,0,7.78,IL,2021-11-23 15:27:00
1,New Norfolk,-42.7826,147.0587,59.90,69,100,2.17,AU,2021-11-23 15:27:56
2,Ushuaia,-54.8000,-68.3000,42.46,65,75,19.57,AR,2021-11-23 15:27:56
3,Saint Anthony,45.0205,-93.2180,35.44,64,1,3.00,US,2021-11-23 15:24:28
4,Pevek,69.7008,170.3133,-18.56,98,79,2.93,RU,2021-11-23 15:27:56
5,Padang,-0.9492,100.3543,77.05,80,100,4.50,ID,2021-11-23 15:27:57
6,Te Anau,-45.4167,167.7167,43.21,96,26,1.14,NZ,2021-11-23 15:27:57
7,Meulaboh,4.1363,96.1285,76.06,89,100,7.96,ID,2021-11-23 15:27:58
8,Moranbah,-22.0016,148.0466,73.72,79,100,12.75,AU,2021-11-23 15:27:58
9,Hithadhoo,-0.6000,73.0833,82.26,75,100,18.25,MV,2021-11-23 15:27:59

In [14]:
new_column_order = ["City", "Country", "Date", "Lat", "Lng", "Max Temp", "Humidity", "Cloudiness", "Wind Speed"]
city_data_df = city_data_df[new_column_order]
city_data_df

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,Gat,IL,2021-11-23 15:27:00,31.6100,34.7642,67.82,100,0,7.78
1,New Norfolk,AU,2021-11-23 15:27:56,-42.7826,147.0587,59.90,69,100,2.17
2,Ushuaia,AR,2021-11-23 15:27:56,-54.8000,-68.3000,42.46,65,75,19.57
3,Saint Anthony,US,2021-11-23 15:24:28,45.0205,-93.2180,35.44,64,1,3.00
4,Pevek,RU,2021-11-23 15:27:56,69.7008,170.3133,-18.56,98,79,2.93
5,Padang,ID,2021-11-23 15:27:57,-0.9492,100.3543,77.05,80,100,4.50
6,Te Anau,NZ,2021-11-23 15:27:57,-45.4167,167.7167,43.21,96,26,1.14
7,Meulaboh,ID,2021-11-23 15:27:58,4.1363,96.1285,76.06,89,100,7.96
8,Moranbah,AU,2021-11-23 15:27:58,-22.0016,148.0466,73.72,79,100,12.75
9,Hithadhoo,MV,2021-11-23 15:27:59,-0.6000,73.0833,82.26,75,100,18.25
10,Eureka,US,2021-11-23 15:27:59,40.8021,-124.1637,47.57,94,77,13.31
11,Hamilton,US,2021-11-23 15:23:49,39.1834,-84.5333,35.20,65,1,1.01
12,Jamestown,US,2021-11-23 15:23:02,42.0970,-79.2353,33.39,83,90,10.00
13,Puerto Ayora,EC,2021-11-23 15:28:00,-0.7393,-90.3518,75.16,72,14,8.37
14,Busselton,AU,2021-11-23 15:28:01,-33.6500,115.3333,57.09,77,0,11.12
15,Kolokani,ML,2021-11-23 15:28:01,13.5728,-8.0339,97.02,13,2,14.88
16,Nokia,FI,2021-11-23 15:28:02,61.4667,23.5000,27.68,86,90,1.01
17,Port Alfred,ZA,2021-11-23 15:28:02,-33.5906,26.8910,65.32,60,38,21.18
18,Bathsheba,BB,2021-11-23 15:28:03,13.2167,-59.5167,86.61,66,40,17.27
19,Kaputa,ZM,2021-11-23 15:28:03,-8.4689,29.6619,80.47,59,88,2.19
20,Sambalpur,IN,2021-11-23 15:28:03,21.4500,83.9667,76.23,61,0,2.35
21,Humaita,BR,2021-11-23 15:28:04,-7.5061,-63.0208,74.12,97,100,2.24
22,Vaini,TO,2021-11-23 15:28:04,-21.2000,-175.2000,69.96,100,75,2.30
23,Albany,US,2021-11-23 15:28:05,42.6001,-73.9662,34.81,56,3,5.01
24,Nabire,ID,2021-11-23 15:28:05,-3.3667,135.4833,76.80,92,100,3.94
25,Wagar,SD,2021-11-23 15:25:10,16.1525,36.2032,88.12,34,5,16.22
26,Cidreira,BR,2021-11-23 15:28:06,-30.1811,-50.2056,73.42,63,46,15.97
27,Avarua,CK,2021-11-23 15:28:06,-21.2078,-159.7750,69.85,78,100,1.14
28,Kodiak,US,2021-11-23 15:28:07,57.7900,-152.4072,11.71,52,1,12.66
29,Barrow,US,2021-11-23 15:28:07,71.2906,-156.7887,1.42,71,90,5.75
30,Husavik,IS,2021-11-23 15:28:07,66.0449,-17.3389,31.91,78,100,7.07
31,Bajil,YE,2021-11-23 15:28:08,15.0584,43.2851,83.28,65,99,9.75
32,Saint-Joseph,RE,2021-11-23 15:28:08,-21.3667,55.6167,77.38,78,61,4.05
33,Dikson,RU,2021-11-23 15:28:08,73.5069,80.5464,-2.27,97,100,16.17
34,Fortuna,US,2021-11-23 15:28:09,40.5982,-124.1573,47.32,95,90,0.00
35,Mataura,NZ,2021-11-23 15:28:10,-46.1927,168.8643,45.73,96,86,2.01
36,Aksu,CN,2021-11-23 15:28:11,41.1231,80.2644,32.74,45,5,1.79
37,Desaguadero,PE,2021-11-23 15:28:11,-16.5656,-69.0417,55.31,48,100,8.19
38,Mahebourg,MU,2021-11-23 15:28:11,-20.4081,57.7000,79.09,69,40,6.91
39,Bluff,NZ,2021-11-23 15:28:11,-46.6000,168.3333,52.14,78,54,11.43
40,Katsuura,JP,2021-11-23 15:28:12,35.1333,140.3000,55.18,62,3,26.35
41,Qaanaaq,GL,2021-11-23 15:28:12,77.4840,-69.3632,-6.07,76,95,9.33
42,La Ronge,CA,2021-11-23 15:28:13,55.1001,-105.2842,19.65,86,90,2.30
43,Hermanus,ZA,2021-11-23 15:28:13,-34.4187,19.2345,73.90,63,64,18.52
44,Touros,BR,2021-11-23 15:28:13,-5.1989,-35.4608,88.70,60,29,15.79
45,Mandalgovi,MN,2021-11-23 15:28:14,45.7625,106.2708,23.32,38,8,12.19
46,Esperance,AU,2021-11-23 15:28:14,-33.8667,121.9000,57.04,69,59,9.37
47,Loreto,MX,2021-11-23 15:28:15,22.2667,-101.9667,55.65,71,4,7.47

In [15]:
# Create the output file (CSV).
output_data_file = "weather_data/cities.csv"
# Export the City_Data into a CSV.
city_data_df.to_csv(output_data_file, index_label="City_ID")