## Deliverable 3. Create a Travel Itinerary Map.

In [41]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy
import gmaps.datasets
# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [42]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,6,Hermanus,ZA,65.89,overcast clouds,-34.4187,19.2345,Misty Waves Boutique Hotel
1,8,Port Elizabeth,ZA,61.11,scattered clouds,-33.9180,25.5701,39 On Nile Guest House
2,12,Cape Town,ZA,66.11,few clouds,-33.9258,18.4232,Southern Sun Waterfront Cape Town
3,14,Hualmay,PE,70.23,overcast clouds,-11.0964,-77.6139,Hotel Villa Kitzia Huacho
4,19,Lagoa,PT,66.18,overcast clouds,39.0500,-27.9833,Casa Das Faias

In [43]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [44]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [45]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Saint George"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Saint George"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Laguna"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Half Moon Bay"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Silver City"] 

vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
24,119,Saint George,US,66.67,clear sky,37.1041,-113.5841,Best Western Plus Abbey Inn

In [46]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = ((vacation_start.to_numpy(dtype=None, copy=False,))[0,5]), ((vacation_start.to_numpy(dtype=None, copy=False,))[0,6])
end = ((vacation_end.to_numpy(dtype=None, copy=False,))[0,5]), ((vacation_end.to_numpy(dtype=None, copy=False,))[0,6])
stop1 = ((vacation_stop1.to_numpy(dtype=None, copy=False,))[0,5]), ((vacation_stop1.to_numpy(dtype=None, copy=False,))[0,6])
stop2 = ((vacation_stop2.to_numpy(dtype=None, copy=False,))[0,5]), ((vacation_stop2.to_numpy(dtype=None, copy=False,))[0,6])
stop3 = ((vacation_stop3.to_numpy(dtype=None, copy=False,))[0,5]), ((vacation_stop3.to_numpy(dtype=None, copy=False,))[0,6])

In [47]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='BICYCLING')
fig.add_layer(itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [48]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,119,Saint George,US,66.67,clear sky,37.1041,-113.5841,Best Western Plus Abbey Inn
1,370,Laguna,US,68.23,mist,38.4210,-121.4238,Holiday Inn Express & Suites Elk Grove Central...
2,606,Half Moon Bay,US,65.75,clear sky,37.4636,-122.4286,"The Ritz-Carlton, Half Moon Bay"
3,386,Silver City,US,65.68,broken clouds,32.7701,-108.2803,Copper Manor Motel
4,119,Saint George,US,66.67,clear sky,37.1041,-113.5841,Best Western Plus Abbey Inn

In [80]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [81]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(35.0, -115), zoom_level=4.5
                  )
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))